
.btn:not(:disabled){
  outline:none;
  border: none;
}

.board_view_outer{
  background-color: #dcdbff87;
  height: max-content;
}
.board_view{
    background-color: #faf4f436;
    height: 100%;
}

#task-table {
  min-width: 900px!important;
  height: max-content;
  margin: 20px auto;
  max-width: none;
  background-color: rgba(249, 246, 249, 0.57);
}
.fix-width {
	width: 100vw;
  height: 90vh;
	overflow:scroll;
}
tr{
  background: none!important;
}
.table-header {
  text-align: center;
  width: 25%!important;
}

thead{
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 1;
}
thead td{
  z-index: 0;
}
thead th{
  padding: 0.5rem!important;
}
.table-cell {
  text-align: center;
  background: none!important;
  width: 25%!important;
  font-size: 0.9rem;
}

.task-box {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-box span{
  border-radius: 0 0 0 20px;

}
.task-box span i{
  font-size: 0.8rem;
  padding: 0.2rem;
  color: rgba(104, 74, 37, 0.554);
  font-weight: 300;
}


tr div{
  transition: background-color 200ms linear;
}
tr div:hover{
    background: none;
}

.task-box h4 {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.task-box p {
  margin-bottom: 8px;
  font-size: 0.7rem;
}

.task-box .time {
  color: #6c757d;
}

#tasktable_div {
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 0.364);
  box-shadow: inset 13px 13px 20px #cbced1, inset -13px 13px 20px #cbced1,
  13px -13px 20px #cbced1, inset -13px -13px 20px #cbced1;
}
.scroll-inner {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#cccccc, 0.7);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: transparentize(#ccc, 0.5);
		box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}

.join-btn{
  outline: none;
  border: none;
  background-color: white!important;
  border-radius: 20px;
}
.circle-btn{
  color: green;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 0 20px 0;
}
.circle-btn:hover{
  background-color: white;
}
.circle-btn i{
  font-size: 10px;
  padding: 0;
}
.taskshowmodal .modal-content{
  padding: 2rem;
}
.taskshowmodal .ai-modal-container{
  position: relative;
}

.taskshowmodal{
  position: absolute;
  background-color: #1c1c1e79!important;
}
.taskshowmodal .modal-header{
  border-bottom: 0.8px solid #6183a7;
  margin: auto;
}
.taskshowmodal .modal-header p{
  font-size: 1.4rem;
}
.taskshowmodal .modal-content{
  position: relative;
  box-shadow: inset -13px -13px 20px #dcdbff87, inset 13px 13px 20px #dcdbff87;
  background-color: #dcdbff87;
  border-radius: 14px !important;
}
.taskshowmodal .modal-content::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Home/home_bg2.webp") no-repeat center center/cover;
  z-index: -1;
  border-radius: 14px;
}

.taskshowmodal .modal-body{
  margin-top: 1.4rem;
  padding: 2rem 0 0 0;
  border-radius: 14px;
  background: none;

}

.modal-body label{
  font-size: 0.8rem;
  margin: 0;
}
.modal-body p{
  font-size: 0.8rem;
  margin: 0;
}

.behind{
  z-index: -1;
}



@media only screen and (max-width: 1200px) {
  html{
      font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  html{
      font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  html{
      font-size: 14px;
  }
}