#sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f1f1f1;
    /* visibility: hidden; */
    overflow-y: auto;
    /* transition: visibility 0.5s; */
    border: 2px solid red;
  }